# Ignore all files in the outputs directory
outputs/

# Ignore all files in the cdeCatalogs directory
cdeCatalogs/

# Ignore conda’s environment directory
.conda/

.env

logs/

mapping/

stage3_adjudication_output/

deprecatedScripts/

.streamlit/

.pytest_cache/

tests/

venv/

*.csv

*.sqlite

__pycache__

*.pyc